*{
    position: relative;
    position: static;
    position: absolute;
    position: relative;
    position: fixed;
    top:;
    right:;
    bottom:;
    left:;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index:;
    z-index: auto;
    float: left;
    float: none;
    float: left;
    float: right;
    clear: both;
    clear: none;
    clear: left;
    clear: right;
    clear: both;
    display: block;
    display: none;
    display: block;
    display: inline;
    display: inline-block;
    display: list-item;
    display: run-in;
    display: compact;
    display: table;
    display: inline-table;
    display: table-caption;
    display: table-column;
    display: table-column-group;
    display: table-header-group;
    display: table-footer-group;
    display: table-row;
}